ibit/Day29\ Heaps/Heaps\ Standup.mp4
ibit/Day33\ DP3/Standup
ibit/Day9\ Bit\ Manipulation/Lecture
ibit/Day7\ 2\ Pointers/Lecture
ibit/Day7\ 2\ Pointers/Standup
ibit/Day6\ Array2/Lecture.mp4
ibit/Day11\ Sorting\ and\ Searching/Lecture
Subject\ Notes/
ibit/Day14\ Hashmaps/Lecture
ibit/Day37\ ContestDiscussion/Lecture.mp4
ibit/Day15\ Pattern\ Searching\ Algos/Lecture.mp4
ibit/Day12\ Recursion\ &\ Backtracking/Lecture.mp4
ibit/Day16\ Pattern\ Searching2/Lecture.mp4
ibit/Day31DP1/Lecture.mp4
ibit/Day32\ DP2/Lecture.mp4
ibit/Day38\ Graphs1/Lecture.mp4
ibit/Day38\ Graphs1/Standup.mp4
ibit/Day33\ DP3/Lecture.mp4
ibit/Day33\ DP3/Standup.mp4
ibit/Day34\ DP4/Lecture.mp4
ibit/Day34\ DP4/Lecture2.mp4
ibit/Day39\ Graphs2/Lecture.mp4
ibit/Day40\ Graphs3/Lecture.mp4
ibit/Day41\ Graphs4/Lecture.mp4
ibit/Day41\ Graphs4/Standup.mp4
ibit/Day35\ DP5/Lecture.mp4
ibit/Day36\ DP6/Lecture.mp4
ibit/Day22\ Trees/Lecture.mp4
ibit/Day25\ Trie/Lecture.mp4
ibit/Day25\ Trie/Standup.mp4
ibit/Day26\ Trie2/Lecture.mp4
ibit/Day28\ Trees2/Lecture.mp4
